<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kavya.stealthpad">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <application
        android:name=".StealthPadApp"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StealthPad">

        <!-- Google AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9350914944252488~9054875233" />

        <activity android:name=".ui.dashboard.DashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.StealthPad.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.notes.Notes"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            />

        <activity android:name=".ui.notes.ImageViewerActivity"
            android:exported="false"
            android:theme="@style/Theme.StealthPad" />

        <activity android:name=".ui.Auth.ManageAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.StealthPad" />

        <activity android:name=".ui.dashboard.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.StealthPad" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <!-- WorkManager will be initialized manually in StealthPadApp -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:exported="false"
            android:directBootAware="false"
            tools:node="merge" />


    </application>

</manifest>